<div class="container">
  <div class="card d-flex px-4 py-2 flex-row justify-content-between" >
  <div >
    <%= recipe.name %>
  <div class="card-link">
    <% if can? :destroy, recipe %>
    <%= link_to 'Remove',
      recipe_path(recipe), data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    },
      class: "btn btn-danger" %>
      <% end %>
  </div>
  </div>
   <div class="text-truncate">
    <%= recipe.description %>
  </div>
  </div>
</div>
